body{
	background: url("wallpaper.jpg");
	background-position: center top;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body::after {
  content: "";
  background: url(wallpaper.jpg);
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

label{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
}

#wrapper{
    margin: auto;
    width: 400px;
    position: relative;
}

.loginSignup {
    position: absolute;
    top: 80px;
    width: 50%;
    padding: 5% 20% 10% 20%;
    margin: 0 0 0 0;
    background: rgba(247, 247, 247, 0.8);
    
    box-shadow: 6px 6px 50px #696C6D inset;
    border-radius: 20px;
}

#wrapper h1{
	font-size: 48px;
    color: rgb(6, 106, 117);
    padding: 0 0 0 0;
    font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
	text-shadow: 2px 2px 4px #696C6D;
}

p {
    display: block;
	font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
	font-size: 20px;
}

#username{
	border-radius: 6px;
}

#password{
	border-radius: 6px;
}

.inputs{
	padding: 5px;
}

#loginbutton {
	float: left;
}

#signUpButton {
	float: right;
}

#box{
	font-weight: bold;
	transition: all .4s;
	border-radius: 4px;
	color: #222222;
	background: #e3e3e3;
	width: 80px;
	text-align: center;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5), 0px 0px 0px 1px rgba(0,0,0,0.1);
}

#box:hover{
	color: white;
	background: #333;
	cursor: pointer;
}

.button{
	display: inline;
	padding: 8px 18px;
    background-color: #6666FF;
    color: white;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
	border-radius: 6px;
}

.button a {
	padding: 8px 18px;
    background-color: #6666FF;
    color: white;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
	border-radius: 6px;

}

.button a:hover{
	background-color: #9999FF;
	color: black;
}

.button a:active {
	top: 2px;
}